$color-text-pale-purple: #d89eff;
$color-text-light-purple: #9241c8;
$color-text-grey-purple: #6e5d7e;
$color-text-light-grey: #c6cacd;
$color-text-dark-purple: #3e2753;
$color-text-dark-grey: #a39daa;

$color-primary-pink: #e942ff;
$color-primary-purple: #8838ff;

$color-light-grey: #f5f3f7;
$color-light-pink: #e570ff;